# Docker
COMPOSE_PROJECT_NAME=DOMAIN-dev

# 可选值 no | always | on-failure | unless-stopped
CONTAINER_RESTART=no

# Magento2
# 挂载到 `/var/www/html`.
APPLICATION=../magento2

# Nginx
NGINX_HTTP_PORT=127.0.0.1:8000

# Db
DB_ADMINER_PORT=127.0.0.1:8001

DB_ROOT_PASSWORD=
DB_PASSWORD=
DB_USER=app
DB_NAME=app

# Varnish
VARNISH_SIZE=2G
VARNISH_PORT=127.0.0.1:8004

# Open search
OPENSEARCH_INITIAL_ADMIN_PASSWORD=

# RabbitMQ
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=

# Workspace
WORKSPACE_SSH_PORT=0.0.0.0:8002
WORKSPACE_CODER_PORT=127.0.0.1:8003


